// Copyright 2026 CloudPDF LTD
// SPDX-License-Identifier: Apache-2.0

1 VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "CloudPDF LTD"
            VALUE "FileDescription",  "CloudPDF PDF runtime"
            VALUE "FileVersion",      "0.0.0.0"
            VALUE "InternalName",     "pdfium"
            VALUE "OriginalFilename", "pdfium.dll"
            VALUE "ProductName",      "CloudPDF PDF runtime"
            VALUE "ProductVersion",   "0.0.0.0"
            VALUE "LegalCopyright",   "Copyright 2026 CloudPDF LTD"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
